.align-right{
    float: right;
}

#message-container {
    padding: 0;
}

.event-container h1 {
    text-align: left;
    font-size: 25px;
}

.event-container {
    width: 100%;
    text-align: center;
    padding: 40px 50px;
}

.details-container {
    border: 2px solid #f1f1f1;
    width: 100%;
}

.event-container p {
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

#event-details, #datacom-message {
    padding: 30px 40px;
}

#message-form {
    padding: 0 50px;
}

label {
    text-align: left;
}

#message-button {
    margin: 10px;
}