#home-container {
    padding: 0;
}

#card-layout{
    overflow: auto;
    white-space: nowrap;
    column-count: 3;
    flex-wrap: nowrap;
}

#card-layout .card-alignments{
    display: inline-block;
    max-width: 300px;
    min-width: 300px;
    padding: 10px;
}

.card-img-alignments{
    height: 14vw;
    overflow: hidden;
    min-height: 200px;
}

.card-details-text{
    display:block;
    text-overflow: ellipsis;
    height: 18vh;
    overflow: auto;
    white-space: normal;
}
    
.card-details-text::-webkit-scrollbar {
    width: 6px;
}
    
.card-details-text::-webkit-scrollbar-track {
    border-radius: 10px;
}
    
.card-details-text::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #080057; 
}

#card-layout::-webkit-scrollbar {
    width: 8px;
}
    
#card-layout::-webkit-scrollbar-track {
    border-radius: 10px;
}
    
#card-layout::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #080057;
}
.card-body{
    white-space: nowrap
}

.btn-primary {
    color: #fff;
    background-color: rgb(1, 30, 85);
    background-color: cutom-color;
    border-color: rgba(45, 154, 243, 0.76);
    border-color: cutom-cor;
}

#card-layout .nav-link{
    display: block;
    padding: 0.5rem 3rem;
}