#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  background: #002b7f;
  color: #fff;
  transition: all 0.3s;
}

#sidebar .sidebar-content {
  max-height: calc(100% - 30px);
  height: calc(100% - 30px);
  overflow-y: auto;
  position: relative;
}

#sidebar .sidebar-header {
  padding: 20px;
}

#sidebar .logo {
  width: 200px;
}

#sidebar ul.components {
  padding: 20px 0;
  /* border-bottom: 1px solid #47748b; */
}

#sidebar .header-category-text span {
  font-weight: bold;
  font-size: 14px;
  padding: 15px 10px 5px 20px;
  display: inline-block;
  color: #757575;
}

#sidebar .menuitem-alignments{
  padding: 2px 15px 5px 20px;
}

#sidebar .menuitem-alignments a{
  font-weight: bold;
  font-size: 16px;
  display: block;
  color: #fff;
}

#sidebar ul li a:hover {
  color: #0055ff;
}

#sidebar hr{
  background-color: rgb(73, 71, 71);
}

#sidebar .sidebar-footer{
  position: fixed;
  bottom: 5px;
  width: 100%;
  color: #998f8e;
}

#sidebar .sidebar-image{
  width: 220px;
  height: 150px;
  text-align: center;
  padding: 2px 15px 5px 20px;
}

#sidebar .sidebar-footer a{
  color: #998f8e;
  text-align: center;
}

@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
 }
}
