h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 15px 0;
  font-size: 32px;
  text-align: center;
}

body {
  height: 100vh;
}

button {
  margin: 16px 0;
}

.component-alignments {
  padding: 0;
}

.content {
  padding: 40px 120px;
}

.content-end {
  justify-content: flex-end;
}

.heading-container {
  background-color: white;
  width: 100%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
}

.no-margin {
  margin: 0;
}

.outer-container {
  margin-left: 256px;
  padding: 0;
  width: calc(100% - 256px) !important;
}
