h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px 0;
  text-align: center;
}

body {
  height: 100vh;
}

.component-alignments {
  padding: 0;
}

.content {
  padding: 20px 50px;
}

.heading-container {
  background-color: #e6e6e6;
  width: 100%;

}

.outer-container {
  margin-left: 256px;
  padding: 0;
  width: calc(100% - 256px) !important;
}